{% extends 'base.html' %}

{% block title %}Home - Harospec Data{% endblock %}

{% block content %}
    <h1>Harospec Data</h1>
    <h2>hare-o-spec</h2>

    <p>Data is messy and increasingly complex. We transform data into meaningful information for decision-makers, using innovative and cost-effective tools. Our services are based upon several core tenets that inform all stages of the analytical process:</p>

    <ul>
        <li><strong>Analysis should directly inform decision-making</strong></li>
        <li><strong>Information should be presented in modern, accessible formats</strong></li>
        <li><strong>Methodologies should be transparent and reproducible</strong></li>
        <li><strong>Tools should be modular and cost-effective</strong></li>
    </ul>

    <p>Contact us for more information and to solicit services.</p>
{% endblock %}
