{% extends 'base.html' %}

{% block title %}Home - Harospec Data{% endblock %}

{% block content %}
<section id="home" class="hero">
    <div class="hero-content">
        <h1>Harospec Data</h1> <!-- Added title -->
        <p>
            Data is messy and increasingly complex. We offer cost-effective, transparent, and modern data science 
            services<a href="#services"> services</a> that others can use to transform data into meaningful information. <a href="#contact">Contact us</a> for more information.
        </p>
    </div>
</section>

<section id="services">
    <h2>Services</h2>
    <p>Details about services...</p>
</section>

<section id="portfolio">
    <h2>Portfolio</h2>
    <p>Details about portfolio...</p>
</section>

<section id="contact">
    <h2>Contact</h2>
    <p>Details about contact...</p>
</section>
{% endblock %}
