<section id="portfolio" class="portfolio-section">
    <h2>Our Work</h2>
    <div class="portfolio-container">
        <div class="portfolio-card">
            <a href="project1/">
                <img src="/static/images/background3.jpg" alt="Project 1">
                <div class="portfolio-details">
                    <h3>Shiny Applications</h3>
                    <p>Interactive Data Visualization Apps</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project2/">
                <img src="/static/images/background2.jpg" alt="Project 2">
                <div class="portfolio-details">
                    <h3>Sauna Reviews</h3>
                    <p>Crowd-sourced sauna review website</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project3/">
                <img src="/static/images/background1.jpg" alt="Project 3">
                <div class="portfolio-details">
                    <h3>Health Care Data Web-Scraping</h3>
                    <p>Automated webscraping</p>
                </div>
            </a>
        </div>
        <!-- Add more cards as needed -->
    </div>
</section>
