<section id="portfolio" class="portfolio-section">
    <h2>Our Work</h2>
    <div class="portfolio-container">
        <div class="portfolio-card">
            <a href="project1/">
                <img src="/static/images/tahoe1_adjust.jpg" alt="Project 1">
                <div class="portfolio-details">
                    <h3>Tahoe Urban Planning Analytics</h3>
                    <p>Planning Data Tools for Environmental Protection</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project2/">
                <img src="/static/images/sauna_adjust.jpg" alt="Project 2">
                <div class="portfolio-details">
                    <h3>Sauna Reviews</h3>
                    <p>Crowd-sourced sauna review website</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project3/">
                <img src="/static/images/reddit_adjust.jpg" alt="Project 3">
                <div class="portfolio-details">
                    <h3>Web-Scraping</h3>
                    <p>Automated webscraping</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project4/">
                <img src="/static/images/oregon1_adjust.jpg" alt="Project 4">
                <div class="portfolio-details">
                    <h3>Oregon Decision Support Web Tools</h3>
                    <p>Data Tool to Guide State-Wide Transportation Investment</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project5/">
                <img src="/static/images/srtc_data_hub1_adjust.jpg" alt="Project 4">
                <div class="portfolio-details">
                    <h3>Spokane Geospatial Data Hub</h3>
                    <p>GIS Database management system</p>
                </div>
            </a>
        </div>
        <!-- Add more cards as needed -->
    </div>
</section>
