<section id="portfolio" class="portfolio-section">
    <h2>Portfolio</h2>
    <div class="portfolio-container">
        <div class="portfolio-card">
            <a href="project1/">
                <img src="/static/images/background3.jpg" alt="Project 1">
                <div class="portfolio-details">
                    <h3>Project 1</h3>
                    <p>Brief description of Project 1</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project2/">
                <img src="/static/images/background2.jpg" alt="Project 2">
                <div class="portfolio-details">
                    <h3>Project 2</h3>
                    <p>Brief description of Project 2</p>
                </div>
            </a>
        </div>
        <div class="portfolio-card">
            <a href="project3/">
                <img src="/static/images/background1.jpg" alt="Project 3">
                <div class="portfolio-details">
                    <h3>Project 3</h3>
                    <p>Brief description of Project 3</p>
                </div>
            </a>
        </div>
        <!-- Add more cards as needed -->
    </div>
</section>
